$bg-light: #0000;
$text-primary: #0000;
$warning: rgb(255, 209, 42);
$info: #734684;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-image: url(../img/bgsky1500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    max-width: 100%;
}

#float {
    position: absolute;
}

#titre {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.txt-justify {
    text-align: justify;
}

.textblock:hover {
    color: $info;
}

.brush {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 255, 255), rgba(255, 0, 0, 0));
}

nav .active {
    background-color: rgba(0, 0, 0, 0.5);
    color: $light;
}

.anim {
    animation: cssAnimation 500ms forwards;
    @keyframes cssAnimation {
        0% {
            scale: 0.5;
        }
        100% {
            scale: 1;
        }
    }
}

.visually-hidden {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    &:focus {
        transform: translateY(0%);
    }
}

td {
    text-align: justify;
}

tr {
    font-weight: bold;
    &:nth-child(even) {
        background-color: $warning;
    }
    &:nth-child(odd) {
        background-color: rgb(255, 255, 255);
    }
}

h1 {
    font-size: 2rem;
}

figcaption {
    color: $light;
    background-color: $dark;
    width: 150px;
}

a {
    color: $info;
    text-decoration: none;
    &:hover {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 255, 255), rgba(255, 0, 0, 0));
        padding: 5px;
        color: $info;
        font-weight: bold;
    }
}

.navlink {
    @extend .text-decoration-none;
    @extend .p-3;
}

.imgwidth {
    @extend .d-block;
    @extend .w-100;
    @extend .h-100;
}